body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.top-banner{
    display: flex;
    padding: 50px;
    margin-bottom: 20px;
    background-image: url(images/shapes/Group\ 8449.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-clip:content-box;


}
.orange{
    color: tomato;
}
.half-width{
    width: 50%;
    padding:30px;
    text-align:center;
    
}
.half-width-image{
    width: 100%;
    height: 50px;
    margin: 10px;
    padding: 10px;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, blue);
    color: white;
    padding: 10px;
    border-radius: 15px;
}
.flexible-container{
    display: flex;
    padding: 30px;
    margin: 10px;
    background-image: url(images/shapes/Frame\ 56.jpg);
     background-size: 1500px;
    background-repeat: no-repeat;
   
    
}
.container{
    width: 50%;
    text-anchor: end;
}
#center{
    text-align: center;
}
.flexible{
    display: flex;
    padding: 10px;
    shape-margin: 30px;
 
}
.recipie{ 
    margin-bottom: 15px;
    width: 40%;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    box-shadow: 5px 5px 15px 15px gray;
    border-radius: 15px;
    border-image-width: 5px;
   
}
#recepie-1{
  
}
.red{
    color: navy; 
    text-align: center;
}
#text{
    text-align: center;
    background-color: orangered;
    color: white;
}
#midle{
    text-align: center;
    
}